**Import Pandas Module**

In [4]:
import numpy as np
import pandas as pd
import csv

**Load data From Automobile_data.csv  and store into Auto_Data DataFrame**

In [5]:
with open('Automobile_data.csv', newline='') as csvfile:
    Auto_Data = pd.read_csv('Automobile_data.csv')

**To Display First 5 and Last 5 Rows**

In [6]:
print(Auto_Data.head())

   index      company   body-style  wheel-base  length engine-type  \
0      0  alfa-romero  convertible        88.6   168.8        dohc
1      1  alfa-romero  convertible        88.6   168.8        dohc
2      2  alfa-romero    hatchback        94.5   171.2        ohcv
3      3         audi        sedan        99.8   176.6         ohc
4      4         audi        sedan        99.4   176.6         ohc

  num-of-cylinders  horsepower  average-mileage    price
0             four         111               21  13495.0
1             four         111               21  16500.0
2              six         154               19  16500.0
3             four         102               24  13950.0
4             five         115               18  17450.0

In [7]:
print(Auto_Data.tail())

    index     company body-style  wheel-base  length engine-type  \
56     81  volkswagen      sedan        97.3   171.7         ohc
57     82  volkswagen      sedan        97.3   171.7         ohc
58     86  volkswagen      sedan        97.3   171.7         ohc
59     87       volvo      sedan       104.3   188.8         ohc
60     88       volvo      wagon       104.3   188.8         ohc

   num-of-cylinders  horsepower  average-mileage    price
56             four          85               27   7975.0
57             four          52               37   7995.0
58             four         100               26   9995.0
59             four         114               23  12940.0
60             four         114               23  13415.0

**Check Null Value from dataset**

In [8]:
Auto_Data.isnull()

    index  company  body-style  wheel-base  length  engine-type  \
0   False    False       False       False   False        False
1   False    False       False       False   False        False
2   False    False       False       False   False        False
3   False    False       False       False   False        False
4   False    False       False       False   False        False
..    ...      ...         ...         ...     ...          ...
56  False    False       False       False   False        False
57  False    False       False       False   False        False
58  False    False       False       False   False        False
59  False    False       False       False   False        False
60  False    False       False       False   False        False

    num-of-cylinders  horsepower  average-mileage  price
0              False       False            False  False
1              False       False            False  False
2              False       False            False  False
3              False       False            False  False
4              False       False            False  False
..               ...         ...              ...    ...
56             False       False            False  False
57             False       False            False  False
58             False       False            False  False
59             False       False            False  False
60             False       False            False  False

[61 rows x 10 columns]

**Print most expensive car’s company name and price.**

In [11]:
i = (Auto_Data['price'].idxmax())
print(Auto_Data['company'][i])

mercedes-benz

**Print All Toyota Cars details**

In [13]:
print(Auto_Data.loc[Auto_Data['company'] == 'toyota'])

    index company body-style  wheel-base  length engine-type num-of-cylinders  \
48     66  toyota  hatchback        95.7   158.7         ohc             four
49     67  toyota  hatchback        95.7   158.7         ohc             four
50     68  toyota  hatchback        95.7   158.7         ohc             four
51     69  toyota      wagon        95.7   169.7         ohc             four
52     70  toyota      wagon        95.7   169.7         ohc             four
53     71  toyota      wagon        95.7   169.7         ohc             four
54     79  toyota      wagon       104.5   187.8        dohc              six

    horsepower  average-mileage    price
48          62               35   5348.0
49          62               31   6338.0
50          62               31   6488.0
51          62               31   6918.0
52          62               27   7898.0
53          62               27   8778.0
54         156               19  15750.0

**Count total cars per company**

In [18]:
Auto_Data['company'].value_counts()

toyota           7
bmw              6
mazda            5
nissan           5
audi             4
mercedes-benz    4
mitsubishi       4
volkswagen       4
alfa-romero      3
chevrolet        3
honda            3
isuzu            3
jaguar           3
porsche          3
dodge            2
volvo            2
Name: company, dtype: int64

**Find each company’s Higesht price car**

In [20]:

highest_prices = Auto_Data.loc[Auto_Data.groupby('company')['price'].idxmax()]

    index        company   body-style  wheel-base  length engine-type  \
1       1    alfa-romero  convertible        88.6   168.8        dohc
6       6           audi        wagon       105.8   192.7         ohc
11     14            bmw        sedan       103.5   193.8         ohc
15     18      chevrolet        sedan        94.5   158.8         ohc
16     19          dodge    hatchback        93.7   157.3         ohc
19     28          honda        sedan        96.5   175.4         ohc
21     30          isuzu        sedan        94.3   170.7         ohc
26     35         jaguar        sedan       102.0   191.7        ohcv
31     43          mazda        sedan       104.9   175.0         ohc
35     47  mercedes-benz      hardtop       112.0   199.2        ohcv
39     52     mitsubishi        sedan        96.3   172.4         ohc
44     57         nissan        sedan       100.4   184.6        ohcv
46     62        porsche  convertible        89.5   168.9        ohcf
54     79         toyota        wagon       104.5   187.8        dohc
58     86     volkswagen        sedan        97.3   171.7         ohc
60     88          volvo        wagon       104.3   188.8         ohc

   num-of-cylinders  horsepower  average-mileage    price
1              four         111               21  16500.0
6              five         110               19  18920.0
11              six         182               16  41315.0
15             four          70               38   6575.0
16             four          68               31   6377.0
19             four         101               24  12945.0
21             four          78               24   6785.0
26           twelve         262               13  36000.0
31             four          72               31  18344.0
35            eight         184               14  45400.0
39             four          88               25   8189.0
44              six         152               19  13499.0
46              six         207               17  37028.0
54              six         156               19  15750.0
58             four         100               26   9995.0
60             four         114               23  13415.0

**Find the average mileage of each car making company**

In [21]:
Auto_Data.groupby('company')['average-mileage'].mean()

company
alfa-romero      20.333333
audi             20.000000
bmw              19.000000
chevrolet        41.000000
dodge            31.000000
honda            26.333333
isuzu            33.333333
jaguar           14.333333
mazda            28.000000
mercedes-benz    18.000000
mitsubishi       29.500000
nissan           31.400000
porsche          17.000000
toyota           28.714286
volkswagen       31.750000
volvo            23.000000
Name: average-mileage, dtype: float64

**Sort all cars by Price column**

In [22]:
sorted = Auto_Data.sort_values(by='price')

**Create following Dicts,  and Concatenate those two dictionary and create a key for each data frame.**<br/>
GermanCars = {'Company': ['Ford', 'Mercedes', 'BMV', 'Audi'], 'Price': [23845, 171995, 135925 , 71400]}<br/>
japaneseCars = {'Company': ['Toyota', 'Honda', 'Nissan', 'Mitsubishi '], 'Price': [29995, 23600, 61500 , 58900]}

In [ ]:

GermanCars = {'Company': ['Ford', 'Mercedes', 'BMV', 'Audi'], 'Price': [23845, 171995, 135925 , 71400]}
japaneseCars = {'Company': ['Toyota', 'Honda', 'Nissan', 'Mitsubishi '], 'Price': [29995, 23600, 61500 , 58900]}
GermanCars = pd.DataFrame(GermanCars)
japaneseCars = pd.DataFrame(japaneseCars)
cars = pd.concat([GermanCars, japaneseCars])
cars['Origin'] = ['German'] * len(GermanCars) + ['Japanese'] * len(japaneseCars)

**Create two data frames using the following two Dicts, Merge two data frames, and append the second data frame as a new column to the first data frame.**<br/>
Car_Price = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'Price': [23845, 17995, 135925 , 71400]}<br/>
Car_Horsepower = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'horsepower': [141, 80, 182 , 160]}

In [ ]:
Car_Price = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'Price': [23845, 17995, 135925, 71400]}
Car_Horsepower = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'horsepower': [141, 80, 182, 160]}
df1 = pd.DataFrame(Car_Price)
df2 = pd.DataFrame(Car_Horsepower)
merged_df = pd.merge(df1, df2, on='Company')
df1['horsepower'] = df2['horsepower']
print("Merged Data Frame:")
print(merged_df)
print("\nUpdated Data Frame 1:")
print(df1)